<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  	<div id="main">
  		<nav id="nav">
  			<a href="/" id="to-home" class="nav-button" >jered.io</a>
  		</nav>
  		<main>
	  		<section id="hero" >
	  		</section>
	  		<section id="projects" class="container" >
		  		<div class="row">
		  			<div class="col-sm-8">
		  				<img src="img/space01.jpg" />
		  			</div>
		  			<div class="col-sm-3 col-sm-offset-1">
		  				apod descr
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="col-sm-8">
		  				uw
		  			</div>
		  			<div class="col-sm-3 col-sm-offset-1">
		  				uw descr
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="col-sm-8">
		  				news
		  			</div>
		  			<div class="col-sm-3 col-sm-offset-1">
		  				uw descr
		  			</div>
		  		</div>
	  		</section>
  		</main>
  	</div>
  </body>
</html>